[submodule "Pistachio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pistachio/vendor/GLFW"]
	path = Pistachio/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Pistachio/vendor/imgui"]
	path = Pistachio/vendor/imgui
	url = https://github.com/thecherno/imgui
[submodule "Pistachio/vendor/glm"]
	path = Pistachio/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pistachio/vendor/box2d"]
	path = Pistachio/vendor/box2d
	url = https://github.com/thecherno/box2d
